apiVersion: v1
kind: Service
metadata:
  name: locust-master-service
  namespace: default
  labels:
    app: locust
    role: master
spec:
  type: LoadBalancer
  ports:
  - port: 8089
    targetPort: 8089
    name: web
  - port: 5557
    targetPort: 5557
    name: master-bind
  selector:
    app: locust
    role: master
